.todo-wrapper {
  margin: 5px 0;
  text-align: left;
}

.number {
  color: gray;
  cursor: default;
  margin-right: 20px;
}

.close {
  background-color: transparent;
  border: none;
  float: right;
  font-size: 10pt;
}

.close:hover {
  cursor: pointer;
}

.close:focus {
  outline: none;
}
