.todo-wrapper {
  margin: 5px 0;
  text-align: left;
}

.task {
  display: inline-block;
  margin: 0 auto;
}

.check {
  color: gray;
  cursor: default;
  margin-right: 20px;
}

.edit,
.close {
  background-color: transparent;
  border: none;
  float: right;
  font-size: 11pt;
}

.edit:hover,
.close:hover {
  cursor: pointer;
}

.edit:focus,
.close:focus {
  outline: none;
}

.complete p {
  text-decoration: line-through;
}
